<form [formGroup]="form">
  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Filter</button>
      </h2>
      <span *ngIf="working" class="spinner-border spinner-border-sm"></span>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <date-range-chooser
            class="p-2 col-sm-9"
            [initialDateRangeEnum]="INITIALDATERANGE"
            (dateDangeChosen)="onDateRangeObjectChanged($event)"
          ></date-range-chooser>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="false">
    <p>Form Value: {{ form.value | json }}</p>
    <p>Form Status: {{ form.status }}</p>
    <p>Filter: {{ filter$ | async | json }}</p>
  </div>
</form>
