<div class="card m-4 col-sm-8">
  <div class="card-body m-4 d-flex justify-content-between">
    <div>
      <a class="no-underline" routerLink="../journals">Add Employee Journals</a>
    </div>
    <a class="no-underline" routerLink="../journals"
      ><i class="fas fa-greater-than"></i
    ></a>
  </div>
</div>
<div class="card m-4 col-sm-8">
  <div class="card-body m-4 d-flex justify-content-between">
    <div>
      <a class="no-underline" routerLink="../pensions">Add Pension Invoice</a>
    </div>
    <a class="no-underline" routerLink="../pensions"
      ><i class="fas fa-greater-than"></i
    ></a>
  </div>
</div>
<div class="card m-4 col-sm-8">
  <div class="card-body m-4 d-flex justify-content-between">
    <div>
      <a class="no-underline" routerLink="../employerni">Add Employer NI Journal</a>
    </div>
    <a class="no-underline" routerLink="../employerni"
      ><i class="fas fa-greater-than"></i
    ></a>
  </div>
</div>
