<form [formGroup]="form">
  <div class="row">
    <div class="col-sm">
      <div class="input-group">
        <span class="input-group-text col-4 box-outline" id="period-label">Date</span>
        <select
          class="form-control text-center box-outline"
          id="selectList"
          #selectList
          (change)="onDateRangeChanged(selectList.value)"
          formControlName="dateRange"
        >
          <option value="null">Any</option>
          @for (dtRng of DateRange | keyvalue: originalOrder; track dtRng) {
            <option value="{{ dtRng.value }}">
              {{ dtRng.value }}
            </option>
          }
        </select>
      </div>
    </div>
    <div class="col-sm-auto mt-2">From</div>
    <div class="col-sm-3">
      <div class="input-group col p-0 mb-1">
        <!-- If using MySql dates don't forget to import NgbUTCStringAdapter-->
        <input
          class="form-control text-end box-outline"
          placeholder="Start"
          name="dp1"
          ngbDatepicker
          #d1="ngbDatepicker"
          formControlName="startDate"
          id="inputStartDate"
          placement="bottom"
        />
        <div class="input-group-append box-outline">
          <button
            class="btn"
            (click)="d1.toggle()"
            type="button"
          >
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-auto mt-2">To</div>
    <div class="col-sm-3">
      <div class="input-group col p-0 mb-1">
        <input
          class="form-control text-end box-outline"
          placeholder="End"
          name="dp2"
          ngbDatepicker
          #d2="ngbDatepicker"
          formControlName="endDate"
          id="inputEndDate"
          placement="bottom"
        />
        <div class="input-group-append box-outline">
          <button
            class="btn"
            (click)="d2.toggle()"
            type="button"
          >
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- 9/7/25 NOTE: Always show Refresh button to allow correct operation of Audit Log Filter-->
    <div class="col-sm-auto p-0">
      <a class="btn btn-link" (click)="onRefreshPressed()">Refresh</a>
    </div>
  </div>
</form>
