<div>
    <h2>Payroll</h2>
  </div>
  <div class="container-fluid">
    <div class="card-deck mb-3 text-center">
      <div class="d-flex">
        <div class="card mb-4 box-shadow">
          <div class="card-header pb-2">
            <h4 class="my-0 font-weight-normal">Allocations</h4>
          </div>
          <div class="card-body">
            <a class="link-unstyled" routerLink="allocations"
              ><i class="fas fa-user-tag fa-8x"></i>
              <div *ngIf="processState >= PayrollProcessState.ALLOCATIONS">
                <i
                  class="fa fa-check-circle-o status-icon fa-3x allocationsDone"
                ><span class="visually-hidden">Allocation retrieval complete</span></i></div
            ></a>
          </div>
        </div>
        <div class="card ms-4 mb-4 box-shadow">
          <div class="card-header pb-2">
            <h4 class="my-0 font-weight-normal">Upload File</h4>
          </div>
          <div class="card-body">
            <a
              class="link-unstyled"
              routerLinkActive="active"
              [routerLink]="
                processState >= PayrollProcessState.ALLOCATIONS
                  ? 'payslips'
                  : null
              "
              ><div *ngIf="processState >= PayrollProcessState.ALLOCATIONS">
                <i
                  class="fas fa-upload fa-8x"
                  *ngIf="
                    processState >= PayrollProcessState.ALLOCATIONS;
                    else inactiveUpload
                  "
                ></i>
              </div>
              <div *ngIf="processState >= PayrollProcessState.PAYSLIPS">
                <i
                  class="fa fa-check-circle-o status-icon fa-3x complete"
                ><span class="visually-hidden">Upload complete</span></i></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #inactiveUpload>
    <i class="fas fa-upload fa-8x inactive"></i>
  </ng-template>