<td>{{ user.firstname }}</td>
<td class="d-none d-sm-table-cell">{{ user.username }}</td>
<td class="text-center">
  <!-- Explicity cast target value to an Any type according to fix suggested at https://github.com/angular/angular/issues/35293#issuecomment-584293328 -->
  <select
    (change)="onRoleChange($any($event.target).value)"
    (click)="onClickEvent($event)"
  >
    <option
      *ngFor="let role of roles"
      [ngValue]="role"
      [selected]="role === user.role"
    >
      {{ roles2[role] }}
    </option>
  </select>
</td>
<td>
  <div class="d-flex justify-content-center">
    <div
      (change)="onSuspendedChange($any($event.target).value)"
      (click)="onClickEvent($event)"
      class="form-check"
      *ngIf="user.suspended"
    >
      <input class="form-check-input" type="checkbox" checked />
    </div>
    <div
      (change)="onSuspendedChange($any($event.target).value)"
      (click)="onClickEvent($event)"
      class="form-check"
      *ngIf="!user.suspended"
    >
      <input class="form-check-input" type="checkbox" />
    </div>
  </div>
</td>
<td class="white-space-nowrap">
  <button
    routerLink="edit/{{ user.id }}"
    class="btn btn-sm btn-primary me-1"
    [disabled]="user.isUpdating"
  >
    <span
      *ngIf="user.isUpdating"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!user.isUpdating">Edit</span>
  </button>
  <button
    (click)="deleteUser($event)"
    class="btn btn-sm btn-danger btn-delete-user"
    [disabled]="user.isDeleting"
  >
    <span
      *ngIf="user.isDeleting"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!user.isDeleting">Delete</span>
  </button>
</td>
