<td>{{ user.firstname }}</td>
<td class="d-none d-sm-table-cell">{{ user.username }}</td>
<td class="text-center">
  <!-- Explicity cast target value to an Any type according to fix suggested at https://github.com/angular/angular/issues/35293#issuecomment-584293328 -->
  <select
    (change)="onRoleChange($any($event.target).value)"
    (click)="onClickEvent($event)"
    >
    @for (role of roles; track role) {
      <option
        [ngValue]="role"
        [selected]="role === user.role"
        >
        {{ roles2[role] }}
      </option>
    }
  </select>
</td>
<td>
  <div class="d-flex justify-content-center">
    @if (user.suspended) {
      <div
        (change)="onSuspendedChange($any($event.target).value)"
        (click)="onClickEvent($event)"
        class="form-check"
        >
        <input class="form-check-input" type="checkbox" checked />
      </div>
    }
    @if (!user.suspended) {
      <div
        (change)="onSuspendedChange($any($event.target).value)"
        (click)="onClickEvent($event)"
        class="form-check"
        >
        <input class="form-check-input" type="checkbox" />
      </div>
    }
  </div>
</td>
<td class="white-space-nowrap">
  <button
    routerLink="edit/{{ user.id }}"
    class="btn btn-sm btn-primary me-1"
    [disabled]="user.isUpdating"
    >
    @if (user.isUpdating) {
      <span
        class="spinner-border spinner-border-sm"
      ></span>
    }
    @if (!user.isUpdating) {
      <span>Edit</span>
    }
  </button>
  <button
    (click)="deleteUser($event)"
    class="btn btn-sm btn-danger btn-delete-user"
    [disabled]="user.isDeleting"
    >
    @if (user.isDeleting) {
      <span
        class="spinner-border spinner-border-sm"
      ></span>
    }
    @if (!user.isDeleting) {
      <span>Delete</span>
    }
  </button>
</td>
