<table class="table table-responsive text-end">
  <thead>
    <tr>
      <th class="width-5">No.</th>
      <th class="width-22 text-start">Name</th>
      <th class="width-8 d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <!-- From https://stackoverflow.com/a/48324991/6941165 -->
        <div ngbTooltip="Total salary for the month">Gross</div>
      </th>
      <th class="width-8 d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <div ngbTooltip="Employer National Insurance">E'er NI</div>
      </th>
      <th class="width-8 d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <div ngbTooltip="Employee pension contribution">E'er Pen</div>
      </th>
      <th class="width-8 d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <div ngbTooltip="Total cost of employment" class="text-center">TCE</div>
      </th>

      <!-- Only one of these will be visitble, depending on screen width-->
      <th class="width-10 text-center d-none d-sm-table-cell">
        Employee In QBO Payroll?
      </th>
      <th class="width-5 text-center d-sm-none d-xs-table-cell">In QBO?</th>

      <!-- Only one of these will be visitble, depending on screen width-->
      <th class="width-10 text-center d-none d-sm-table-cell">
        Allocations Present?
      </th>
      <th class="width-5 text-center d-sm-none d-xs-table-cell">Allocs?</th>

      <th class="width-10 text-center d-none d-sm-table-cell">
        In QuickBooks?
      </th>
      <th class="width-5 text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (p of payslips; track p.payrollNumber) {
      <tr>
        <td>
          {{ p.payrollNumber }}
        </td>
        <td class="text-start">{{ p.employeeName }}</td>
        <td class="d-none d-sm-table-cell">
          {{ p.totalPay | number: "1.2-2" }}
        </td>
        <td class="d-none d-sm-table-cell">
          {{ p.employerNI | number: "1.2-2" }}
        </td>
        <td class="d-none d-sm-table-cell">
          {{ +p.employerPension | number: "1.2-2" }}
        </td>
        <td class="d-none d-sm-table-cell">
          {{ p.totalPay + p.employerNI + p.employerPension | number: "1.2-2" }}
        </td>
        <td class="text-center">
          <div class="col">
            <span class="in-qbo">
              @if (!p.employeeMissingFromQBO) {
                <i
                  class="fas fa-check"
                  ngbTooltip="They are in the Employees list in QBO, with correct payroll number."
                ></i>
              }
            </span>
            <span class="not-in-qbo">
              @if (p.employeeMissingFromQBO) {
                <i
                  class="fas fa-times"
                  ngbTooltip="Employee either not in QBO or with incorrect payroll number."
                ></i>
              }
            </span>
          </div>
        </td>
        <td class="text-center">
          <div class="col">
            <span class="in-qbo">
              @if (!p.allocationsMissingFromQBO) {
                <i
                  class="fas fa-check"
                  ngbTooltip="Employee is in the Allocations recurring transaction."
                ></i>
              }
            </span>
            <span class="not-in-qbo">
              @if (p.allocationsMissingFromQBO) {
                <i
                  class="fas fa-times"
                  ngbTooltip="Employee not in the Allocations recurring transaction."
                ></i>
              }
            </span>
          </div>
        </td>

        <td class="text-center d-none d-sm-table-cell">
          <div class="row">
            <div class="col p-0">
              <span class="in-qbo">
                @if (p.payslipJournalInQBO) {
                  <i
                    class="fas fa-check"
                    ngbTooltip="Employee payslip GJ done."
                  ></i>
                }
              </span>
              <span class="not-in-qbo">
                @if (!p.payslipJournalInQBO) {
                  <i
                    class="fas fa-times"
                    ngbTooltip="Employee payslip GJ missing."
                  ></i>
                }
              </span>
            </div>
            <div class="col p-0">
              @if (!p.employerPension) {
                <i class="fas fa-minus" ngbTooltip="Not in pension plan."></i>
              }
              <span class="in-qbo">
                @if (p.employerPension && p.pensionBillInQBO) {
                  <i
                    class="fas fa-check"
                    ngbTooltip="L&G pension bill done."
                  ></i>
                }
              </span>
              <span class="not-in-qbo">
                @if (p.employerPension && !p.pensionBillInQBO) {
                  <i
                    class="fas fa-times"
                    ngbTooltip="L&G pension bill missing."
                  ></i>
                }
              </span>
            </div>
            <div class="col p-0">
              @if (!p.employerNI) {
                <i class="fas fa-minus" ngbTooltip="Employer NI is zero."></i>
              }
              <span class="in-qbo">
                @if (p.employerNI && p.niJournalInQBO) {
                  <i
                    class="fas fa-check"
                    ngbTooltip="Employer NI journal done."
                  ></i>
                }
              </span>
              <span class="not-in-qbo">
                @if (p.employerNI && !p.niJournalInQBO) {
                  <i
                    class="fas fa-times"
                    ngbTooltip="Employer NI journal missing."
                  ></i>
                }
              </span>
            </div>
            <div class="col p-0">
              @if (!p.isShopEmployee) {
                <i class="fas fa-minus" ngbTooltip="Not a shop employee."></i>
              }
              <span class="in-qbo">
                @if (p.isShopEmployee && p.shopJournalInQBO) {
                  <i
                    class="fas fa-check"
                    ngbTooltip="Shop journal entry done."
                  ></i>
                }
              </span>
              <span class="not-in-qbo">
                @if (p.isShopEmployee && !p.shopJournalInQBO) {
                  <i
                    class="fas fa-times"
                    ngbTooltip="Shop journal entry missing."
                  ></i>
                }
              </span>
            </div>
          </div>
        </td>
        <td class="">
          @if (p.employeeMissingFromQBO || p.allocationsMissingFromQBO) {
            <button
              (click)="addEmployee(p)"
              class="btn btn-sm btn-success me-1"
            >
              <span>Add Employee</span>
            </button>
          }
        </td>
      </tr>
    }
    @if (total && total.totalPay) {
      <tr class="total-line">
        <td class="d-none d-sm-table-cell"></td>
        <td class="text-start">
          Total for {{ this.payslips.length }} employees:
        </td>
        <td>{{ total.totalPay | number: "1.2-2" }}</td>
        <td class="d-none d-sm-table-cell">
          {{ total.employerNI | number: "1.2-2" }}
        </td>
        <td class="d-none d-sm-table-cell">
          {{ total.employerPension | number: "1.2-2" }}
        </td>
        <td class="d-none d-sm-table-cell">
          {{
            total.totalPay + total.employerNI + total.employerPension
              | number: "1.2-2"
          }}
        </td>
        <td class="d-none d-sm-table-cell"></td>
        <td class="d-none d-sm-table-cell"></td>
        <td class="d-none d-sm-table-cell"></td>
        <td class="d-none d-sm-table-cell"></td>
      </tr>
    }
  </tbody>
</table>
