<div class="row">
  <div class="col-sm-2">
    <button routerLink="takings/add" class="btn btn-sm btn-success m-1 mt-1">
      Add New Takings
    </button>
  </div>
</div>

<div class="card mt-2 col-sm">
  <h4 class="card-header">Sales Summary</h4>
  <div class="card-body">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <summary-table [summary]="summary"></summary-table>
  </div>
</div>

<hr />
<sales-histogram [histogramChartData]="histogramChartData"></sales-histogram>
<hr />
<sales-chart></sales-chart>
<hr />
<monthly-sales-chart></monthly-sales-chart>
<hr />
<dept-chart></dept-chart>
<hr />
