<div
  class="d-flex flex-row justify-content-between"
  *ngIf="payslips && payslips.length && total && total.totalPay"
>
  <div class="p-2">
    <p>{{ this.payslips.length }} employees</p>
  </div>
  <div class="p-2">
    <p>
      Payroll Date:
      {{ this.payslips[0].payrollDate | date: "dd MMM yyyy" }}
    </p>
  </div>
  <div class="p-2">
    <p>
      Total pension payment:
      {{
        total.salarySacrifice + total.employeePension + total.employerPension
          | number: "1.2-2"
      }}
    </p>
  </div>
</div>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th style="width: 5%">No.</th>
      <th style="width: 22%">Name</th>
      <th style="width: 8%">
        <!-- Tooltip must be on element inside header, not header itself-->
        <!-- From https://stackoverflow.com/a/48324991/6941165 -->
        <div ngbTooltip="Total salary for the month">Gross</div>
      </th>
      <th style="width: 8%" class="d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <div ngbTooltip="Employee income tax">PAYE</div>
      </th>
      <th style="width: 8%" class="d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <div ngbTooltip="Employee National Insurance">E'ee NI</div>
      </th>
      <th style="width: 6%" class="d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <div ngbTooltip="Other Deductions">Other</div>
      </th>
      <th style="width: 8%" class="d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <div ngbTooltip="Salary Sacrifice">S Sac</div>
      </th>
      <th style="width: 8%" class="d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <div ngbTooltip="Student Loan repayments">St Loan</div>
      </th>
      <th style="width: 8%" class="d-none d-sm-table-cell">Net</th>
      <th style="width: 8%" class="d-none d-sm-table-cell">
        <!-- Tooltip must be on element inside header, not header itself-->
        <div ngbTooltip="Employer National Insurance">E'er NI</div>
      </th>
      <th class="text-center" style="width: 8%">In QBO?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of payslips">
      <td style="vertical-align: middle">
        {{ p.payrollNumber }}
      </td>
      <td>{{ p.employeeName }}</td>
      <td>{{ p.totalPay | number: "1.2-2" }}</td>
      <td class="d-none d-sm-table-cell">
        {{ p.paye | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ p.employeeNI | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ p.otherDeductions | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ -p.salarySacrifice - p.employeePension | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ p.studentLoan | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ p.netPay | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ p.employerNI | number: "1.2-2" }}
      </td>
      <td class="text-center">
        <div class="row">
          <div class="col">
            <i
              class="fas fa-minus"
              *ngIf="!p.employerNI"
              ngbTooltip="Employer NI is zero."
            ></i>
            <span style="color: green">
              <i
                class="fas fa-check"
                *ngIf="p.employerNI && p.qbFlags && p.qbFlags.employerNI"
                ngbTooltip="Employer NI journal done."
              ></i>
            </span>
            <span style="color: red">
              <i
                class="fas fa-times"
                *ngIf="p.employerNI && (!p.qbFlags || !p.qbFlags.employerNI)"
                ngbTooltip="Employer NI journal missing."
              ></i>
            </span>
          </div>
          <div class="col">
            <span style="color: green">
              <i
                class="fas fa-check"
                *ngIf="p.qbFlags && p.qbFlags.employeeJournal"
                ngbTooltip="Employee payslip GJ done."
              ></i>
            </span>
            <span style="color: red">
              <i
                class="fas fa-times"
                *ngIf="!p.qbFlags || !p.qbFlags.employeeJournal"
                ngbTooltip="Employee payslip GJ missing."
              ></i>
            </span>
          </div>
          <div class="col">
            <i
              class="fas fa-minus"
              *ngIf="!p.employerPension"
              ngbTooltip="Not in pension plan."
            ></i>
            <span style="color: green">
              <i
                class="fas fa-check"
                *ngIf="p.employerPension && p.qbFlags && p.qbFlags.pensionBill"
                ngbTooltip="L&G pension bill done."
              ></i>
            </span>
            <span style="color: red">
              <i
                class="fas fa-times"
                *ngIf="
                  p.employerPension && (!p.qbFlags || !p.qbFlags.pensionBill)
                "
                ngbTooltip="L&G pension bill missing."
              ></i>
            </span>
          </div>
          <div class="col">
            <i
              class="fas fa-minus"
              *ngIf="!p.isShopEmployee"
              ngbTooltip="Not a shop employee."
            ></i>
            <span style="color: green">
              <i
                class="fas fa-check"
                *ngIf="p.isShopEmployee && p.qbFlags && p.qbFlags.shopJournal"
                ngbTooltip="Shop journal entry done."
              ></i>
            </span>
            <span style="color: red">
              <i
                class="fas fa-times"
                *ngIf="
                  p.isShopEmployee && (!p.qbFlags || !p.qbFlags.shopJournal)
                "
                ngbTooltip="Shop journal entry missing."
              ></i>
            </span>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="total && total.totalPay" style="font-weight: bold">
      <td></td>
      <td>Total for {{ this.payslips.length }} employees:</td>
      <td>{{ total.totalPay | number: "1.2-2" }}</td>
      <td class="d-none d-sm-table-cell">
        {{ total.paye | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ total.employeeNI | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ total.otherDeductions | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ -total.salarySacrifice - total.employeePension | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ total.studentLoan | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ total.netPay | number: "1.2-2" }}
      </td>
      <td class="d-none d-sm-table-cell">
        {{ total.employerNI | number: "1.2-2" }}
      </td>
      <td></td>
    </tr>
    <tr *ngIf="!payslips">
      <td colspan="13" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
