<h3 class="pt-3">Quickbooks Connections</h3>
<p>
  Quickbooks is the software we use to account for our profit and loss. A
  connection is a link between an App (like this website) and the Quickbooks online system. 
  </p>
  <p>
  Only the QB Company Admin can make a connection between an app and a company file. An App can 
  only have one connection per company file and we have two company files so there are two connections. 
</p>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th class="width-25">Company Name</th>
      <th class="width-25">QuickBooks User</th>
      <th class="status-indicator">Linked</th>
      <th class="width-10">Token Expiry</th>
      <th class="width-25">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let myRealm of realms"
      qb-connection-row
      [realm]="myRealm"
      (onConnectionRevoked)="connectionWasRevoked($event)"
    ></tr>
    <tr *ngIf="!realms">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
<small>
  All changes to the QB company file will appear in the QB audit log as having been executed by the Quickbooks User.
</small>
