<h3 class="pt-3">QuickBooks Connections</h3>
<p>
  QuickBooks is the software we use to account for our profit and loss. A
  connection is a link between an App (like this website) and the QuickBooks
  online system.
</p>
<p>
  Only the QB Company Admin can make a connection between an app and a company
  file.
</p>
<p>
  An App can only have one connection per company file and we have two company
  files so there are two connections.
</p>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th class="width-25">Company Name</th>
      <th class="width-25">QuickBooks User</th>
      <th class="status-indicator">Linked</th>
      <th class="width-10">Token Expiry</th>
      <th class="width-25">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (myRealm of realms; track myRealm) {
      <tr
        qb-connection-row
        [realm]="myRealm"
        (onConnectionRevoked)="connectionWasRevoked($event)"
      ></tr>
    }
    @if (!realms) {
      <tr>
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    }
  </tbody>
</table>
<small>
  All changes to the QB company file will appear in the QB audit log as having
  been executed by the QuickBooks User.
</small>
