<td>{{ realm.name }}</td>
<td>
  <span class="logged-in" *ngIf="isValidConnection">●</span>
  <span class="logged-out" *ngIf="!isValidConnection">●</span>
</td>
<td>
  {{
    this.realm!.connection && this.realm!.connection!.refreshtokenexpiry | date
  }}
</td>
<td style="white-space: nowrap">
  <button
    (click)="addConnection($event)"
    class="btn btn-sm btn-success me-1"
    *ngIf="user.isAdmin && !isValidConnection"
  >
    <span>Add</span>
  </button>
  <button
    (click)="refreshConnection($event)"
    class="btn btn-sm btn-primary me-1"
    [disabled]="!this.realm!.connection || this.realm!.connection!.isRefreshing"
  >
    <span
      *ngIf="this.realm!.connection && this.realm!.connection!.isRefreshing"
      class="spinner-border spinner-border-sm"
    ></span>
    <span
      *ngIf="!this.realm!.connection || !this.realm!.connection!.isRefreshing"
      >Refresh</span
    >
  </button>
  <button
    (click)="revokeConnection($event)"
    class="btn btn-sm btn-danger"
    [disabled]="!this.realm!.connection || this.realm!.connection!.isRevoking"
  >
    <span
      *ngIf="this.realm!.connection && this.realm!.connection!.isRevoking"
      class="spinner-border spinner-border-sm"
    ></span>
    <span *ngIf="!this.realm!.connection || !this.realm!.connection!.isRevoking"
      >Delete</span
    >
  </button>
</td>
