<td>{{ realm.name }}</td>
<td>{{ realm.connection && realm.connection!.linkcreatoremail! }}</td>
<td class="text-center">
  @if (isValidConnection) {
    <span class="logged-in">●</span>
  }
  @if (!isValidConnection) {
    <span class="logged-out">●</span>
  }
</td>
<td>
  {{
  this.realm!.connection && this.realm!.connection!.refreshtokenexpiry | date
  }}
</td>
<td>
  @if (user.isAdmin) {
    <div>
      <!-- Don't display if user is not an admin-->
      @if (!isValidConnection) {
        <button
          (click)="addConnection($event)"
          class="btn btn-sm btn-success me-1"
          >
          <span>Add</span>
        </button>
      }
      @if (isLinkCreatedByCurrentUser) {
        <button
          (click)="refreshConnection($event)"
          class="btn btn-sm btn-primary me-1 mt-1"
      [disabled]="
        !this.realm!.connection || this.realm!.connection!.isRefreshing
      "
          >
          @if (this.realm!.connection && this.realm!.connection!.isRefreshing) {
            <span
              class="spinner-border spinner-border-sm"
            ></span>
          }
          @if (!this.realm!.connection || !this.realm!.connection!.isRefreshing) {
            <span
              >Refresh</span
              >
            }
          </button>
        }
        @if (isLinkCreatedByCurrentUser) {
          <button
            (click)="revokeConnection($event)"
            class="btn btn-sm btn-danger mt-1"
            [disabled]="!this.realm!.connection || this.realm!.connection!.isRevoking"
            >
            @if (this.realm!.connection && this.realm!.connection!.isRevoking) {
              <span
                class="spinner-border spinner-border-sm"
              ></span>
            }
            @if (!this.realm!.connection || !this.realm!.connection!.isRevoking) {
              <span
                >Delete</span
                >
              }
            </button>
          }
          @if (isValidConnection && !isLinkCreatedByCurrentUser) {
            <button
              (click)="revokeAndMakeNewConnection($event)"
              class="btn btn-sm btn-danger mt-1"
              [disabled]="!this.realm!.connection || this.realm!.connection!.isRevoking"
              >
              @if (this.realm!.connection && this.realm!.connection!.isRevoking) {
                <span
                  class="spinner-border spinner-border-sm"
                ></span>
              }
              @if (!this.realm!.connection || !this.realm!.connection!.isRevoking) {
                <span
                  >Revoke & Make New Connection</span
                  >
                }
              </button>
            }
          </div>
        }
      </td>
