<h4>Allocated Employer NI Costs</h4>
<div class="row">
  <div class="col-sm-4">
    <p>Total of Employer NI: £{{ this.total | number: "1.2-2" }}</p>
  </div>
  <div class="col-sm-4">
    <button
      (click)="createTransaction()"
      class="btn btn-sm btn-success m-1 mt-1 #employerNI"
      [disabled]="!lines || !lines.length"
    >
      Create Employer NI Journal
    </button>
  </div>
</div>
<allocated-costs-list
  [title]="'Employer NI'"
  [transactionType]="'journal'"
  [lines]="lines"
  [payslips]="payslips"
  [inQBOProperty]="getQBFlagsProperty()"
></allocated-costs-list>
