<form [formGroup]="form">
  <input
    type="file"
    class="file-input"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    (change)="onChange($event)"
    formControlName="chooseFile"
    #fileUpload
  />
</form>

<div class="file-section">
  <div class="d-flex flex-column">
    <button
      (click)="fileUpload.click()"
      class="btn btn-sm btn-success mt-1"
      [disabled]="setButtonDisabled"
    >
      <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      Upload Iris Payroll Spreadsheet
    </button>
    <p></p>
    <div class="d-flex justify-content-between">
      <div>
        <strong>File:</strong>
        {{ (file && file.name) || "No file uploaded yet." }}
      </div>
      <div>
        <button (click)="upload()" class="btn btn-sm btn-secondary mt-1" ngbTooltip="Repeat file upload.">
          <i class="fas fa-sync"></i>
        </button>
      </div>
    </div>
  </div>
</div>
