<div class="modal-header d-flex justify-content-between">
  <h4 class="modal-title" id="modal-title">Enter Payroll Date</h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('cancel click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>What date is the payroll run? This will be the date used for the 
    payroll journal entries and is normally at or near the 25th of the month.</p>
  <div class="input-group mb-1">
    <span class="input-group-text col-4" id="password-addon1">Choose Date: </span>
    <!-- If using MySql dates don't forget to import NgbUTCStringAdapter-->
    <input
      class="form-control"
      placeholder="Payroll Date"
      name="dp"
      ngbDatepicker
      id="inputPayrollDate"
      #d="ngbDatepicker"
      [(ngModel)]="payrollDate"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        (click)="d.toggle()"
        type="button"
      >
        <i class="far fa-calendar-alt"></i>
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="modal.close(this.payrollDate)"
  >
    Ok
  </button>
</div>
