<input
  type="file"
  class="file-input"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  (change)="onChange($event)"
  #fileUpload
/>

<div class="file-section">
  <div class="d-flex flex-column">
    <button
      (click)="fileUpload.click()"
      class="btn btn-sm btn-success mt-1"
      [disabled]="setButtonDisabled"
    >
      Upload File
    </button>
    <div class="d-flex justify-content-between">
      <div>
        <strong>File:</strong>
        {{ (file && file.name) || "No file uploaded yet." }}
      </div>
      <div>
        <button
          (click)="upload()"
          class="btn btn-sm btn-success mt-1"
        >
          <i class="fas fa-sync"></i>
        </button>
      </div>
    </div>
    <p></p>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <section [ngSwitch]="status">
      <p *ngSwitchCase="'uploading'">Uploading...</p>
      <p *ngSwitchCase="'reading'">Reading File</p>
      <p *ngSwitchCase="'success'">Done!</p>
      <p *ngSwitchCase="'fail'">Error!</p>
      <p *ngSwitchDefault>-> Click 'Upload File' button to start.</p>
    </section>
  </div>
</div>
