<div>
  <h2>Payroll</h2>
</div>
<div class="container-fluid">
  <div class="card-deck text-center">
    <div class="row">
      <div class="card p-1 me-3" style="max-width: 16rem">
        <div class="card-body">
          <h5 class="card-title">Retrieve Payslips</h5>
          <p class="card-text">
            Download salary and tax information from Staffology for a given Pay
            Run.
          </p>
          <a routerLink="allocations" class="btn btn-primary stretched-link"
            >Download</a
          >
        </div>
      </div>
      <div
        class="card text-white bg-secondary p-3 me-3"
        style="max-width: 18rem"
      >
        <div class="card-body">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-secondary stretched-link">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
