<div class="d-flex">
  <div class="w-25 p-2 m-2">
    Blah
  </div>
  <div class="p-2 m-2 border border-secondary">
    <div>
      <file-upload (onFileUploaded)="xlsxWasUploaded($event)"></file-upload>
    </div>
  </div>
  <div>
    Blah
  </div>
</div>
<div>
  <button (click)="updateQBO()" class="btn btn-sm btn-success m-1 mt-1" *ngIf="total && total.totalPay">
    Query QBO
  </button>
  <div class="d-flex flex-row" *ngIf="total && total.totalPay">
    <button
      (click)="employerNI()"
      class="btn btn-sm btn-success m-1 mt-1 #employerNI"
      [disabled]="disableEmployerNI"
    >
      <span
        *ngIf="busyOnEmployerNI"
        class="spinner-border spinner-border-sm"
      ></span>
      Employer NI
    </button>
    <div class="d-flex align-items-center">
      <i class="fas fa-greater-than"></i>
    </div>
    <button
      (click)="makeEmployeeJournalEntries()"
      class="btn btn-sm btn-success m-1 mt-1"
      [disabled]="disableEmployeeJournals"
    >
      <span
        *ngIf="busyOnEmployeeJournals"
        class="spinner-border spinner-border-sm"
      ></span>
      Employee GJ
    </button>
    <div class="d-flex align-items-center">
      <i class="fas fa-greater-than"></i>
    </div>
    <button
      (click)="pensionBill()"
      class="btn btn-sm btn-success m-1 mt-1"
      [disabled]="disablePensions"
    >
      <span
        *ngIf="busyOnPensions"
        class="spinner-border spinner-border-sm"
      ></span>
      Pension Bill
    </button>
    <div class="d-flex align-items-center">
      <i class="fas fa-greater-than"></i>
    </div>
    <button
      (click)="shopJournals()"
      class="btn btn-sm btn-success m-1 mt-1"
      [disabled]="disableShopJournals"
    >
      <span
        *ngIf="busyOnShopJournals"
        class="spinner-border spinner-border-sm"
      ></span>
      Shop Journals
    </button>
  </div>
</div>
<div class="progress" *ngIf="payslips && payslips!.length && showProgressBar">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated bg-success"
    role="progressbar"
    [style.width.%]="(100 * currentPayslip) / payslips!.length"
    [attr.aria-valuenow]="currentPayslip"
    aria-valuemin="0"
    [attr.aria-valuemax]="payslips!.length"
  ></div>
  <div
    class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
    role="progressbar"
    [style.width.%]="
      (100 * (payslips!.length - currentPayslip)) / payslips!.length
    "
    attr.aria-valuenow="{{ payslips!.length - currentPayslip }}"
    aria-valuemin="0"
    attr.aria-valuemax="{{ payslips!.length }}"
  ></div>
</div>
<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>Payroll Drill-down</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div
            class="d-flex flex-row justify-content-between"
            *ngIf="total && total.totalPay"
          >
            <div class="p-2">
              <p>{{ this.payslips.length }} employees</p>
            </div>
            <div class="p-2">
              <p>
                Payroll Date:
                {{ this.payslips[0].payrollDate | date: "dd MMM yyyy" }}
              </p>
            </div>
            <div class="p-2">
              <p>
                Total pension payment:
                {{
                  total.salarySacrifice +
                    total.employeePension +
                    total.employerPension | number: "1.2-2"
                }}
              </p>
            </div>
          </div>
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th style="width: 5%">No.</th>
                <th style="width: 22%">Name</th>
                <th style="width: 8%">Gross</th>
                <th style="width: 8%" class="d-none d-sm-table-cell">PAYE</th>
                <th style="width: 8%" class="d-none d-sm-table-cell">E'ee NI</th>
                <th style="width: 8%" class="d-none d-sm-table-cell">Other</th>
                <th style="width: 8%" class="d-none d-sm-table-cell">Pens</th>
                <th style="width: 8%" class="d-none d-sm-table-cell">S Loan</th>
                <th style="width: 8%" class="d-none d-sm-table-cell">Net</th>
                <th style="width: 8%" class="d-none d-sm-table-cell">E'er NI</th>
                <th style="width: 6%">QBO?</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payslip of payslips">
                <td>{{ payslip.employeeId }}</td>
                <td>{{ payslip.employeeName }}</td>
                <td>{{ payslip.totalPay | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ payslip.paye | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ payslip.employeeNI | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ payslip.otherDeductions | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">
                  {{
                    -payslip.salarySacrifice - payslip.employeePension
                      | number: "1.2-2"
                  }}
                </td>
                <td class="d-none d-sm-table-cell">{{ payslip.studentLoan | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ payslip.netPay | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ payslip.employerNI | number: "1.2-2" }}</td>
                <td *ngIf="payslip.inQBO" class="text-center">
                  <i class="fas fa-check"></i>
                </td>
                <td *ngIf="!payslip.inQBO" class="text-center">
                  <i class="fas fa-times"></i>
                </td>
              </tr>
              <tr *ngIf="total && total.totalPay" style="font-weight: bold">
                <td></td>
                <td>Total for {{ this.payslips.length }} employees:</td>
                <td>{{ total.totalPay | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ total.paye | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ total.employeeNI | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ total.otherDeductions | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">
                  {{
                    -total.salarySacrifice - total.employeePension
                      | number: "1.2-2"
                  }}
                </td>
                <td class="d-none d-sm-table-cell">{{ total.studentLoan | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ total.netPay | number: "1.2-2" }}</td>
                <td class="d-none d-sm-table-cell">{{ total.employerNI | number: "1.2-2" }}</td>
                <td></td>
              </tr>
              <tr *ngIf="!payslips">
                <td colspan="13" class="text-center">
                  <span
                    class="spinner-border spinner-border-lg align-center"
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </div>
    </div>
  </div>
</div>
