<div *ngIf="user.isAdmin && !qboAuthorisationMissing">
  <div class="card mt-2" *ngIf="!(stateService.state | async)">
    <div class="card-body">
      <h4>Payroll Utility</h4>
      <p>This page is used for adding payroll transactions to QuickBooks.</p>
      <p>Click on Allocations to begin</p>
    </div>
    <div>
      <div class="col-md-4" *ngIf="stateService.state | async">
        <h4>Upload Iris Spreadsheet</h4>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <!--<ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav-tabs"
    [destroyOnHide]="false"
  >
    <li [ngbNavItem]="1">
      <button ngbNavLink>Employee Allocations</button>
      <ng-template ngbNavContent>

        <div
          *ngIf="
            charityRealm && charityRealm.connection && charityRealm.realmid
          "
        >
          <employee-allocations></employee-allocations>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Iris Payslips</button>
      <ng-template ngbNavContent>
        <div>
          <div class="col-md-4">
            <payroll-file-upload
              *ngIf="!payslips || !payslips.length"
              (onFileUploaded)="xlsxWasUploaded($event)"
            ></payroll-file-upload>
          </div>
          <h4>EE Summary</h4>
          <payslip-list [payslips]="payslips"></payslip-list>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" [disabled]="!payslips || !payslips.length">
      <button ngbNavLink>Employer NI</button>
      <ng-template ngbNavContent>
        <div *ngIf="loadingComplete">
          <employer-ni
            [payslips]="payslips"
            [allocations]="allocations"
            [payrollDate]="payrollDate"
          ></employer-ni>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="4" [disabled]="!payslips || !payslips.length">
      <button ngbNavLink>Pension Invoice</button>
      <ng-template ngbNavContent>
        <div *ngIf="loadingComplete">
          <pension-invoice
            [payslips]="payslips"
            [allocations]="allocations"
            [payrollDate]="payrollDate"
            (onTransactionCreated)="updateQBOFlags()"
          ></pension-invoice>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="5" [disabled]="!payslips || !payslips.length">
      <button ngbNavLink>Employee Journals</button>
      <ng-template ngbNavContent>
        <div *ngIf="loadingComplete">
          <employee-journals
            [payslips]="payslips"
            [allocations]="allocations"
            [payrollDate]="payrollDate"
            (onTransactionCreated)="updateQBOFlags()"
          ></employee-journals>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="6" [disabled]="!payslips || !payslips.length">
      <button ngbNavLink>Shop Journal</button>
      <ng-template ngbNavContent>
        <div *ngIf="loadingComplete">
          <shop-journal
            [payslips]="payslips"
            [payrollDate]="payrollDate"
            (onTransactionCreated)="updateQBOFlags()"
          ></shop-journal>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
</div>
<div *ngIf="!user.isAdmin">
  <strong>This page is accesible to Admin users only.</strong>
</div>
<div class="card" *ngIf="qboAuthorisationMissing">
  <div class="card-body">
    <p>
      <strong
        >Quickbooks Online (QBO) Authorisation Missing or Incomplete</strong
      >
    </p>
    <p>
      This page is restricted to SMT and Accounts Department employees only.
    </p>
    <p>
      In order for this page to function you are required to make 2 links
      between this app and QBO.
    </p>
    <p>Making a link can be done in one of two ways:</p>
    <ul>
      <li>Log in using the "Sign in with Intuit" button.</li>
      <li>
        Using the 'Add' buttons in the Quickbooks Connections section of your
        <a routerLink="/users/edit/{{ user.id }}">Profile</a> page.
      </li>
    </ul>
    <p>
      You will be redirected to the Intuit website where you must log in using
      your Quickbooks username and password. You will then have to select which
      company file you wish to link to this app.
    </p>
    <p>
      You have to repeat the entire procedure twice: Once for the charity
      company file and once for the enterprises company file.
    </p>
  </div>
</div>
