<div class="row">
  <div class="col-sm-4 mt-2">
    <p><strong>Summary Values</strong></p>
    @if (payslips && payslips.length) {
      <table class="table table-striped table-responsive text-end">
        <tbody>
          <tr>
            <td class="text-start">Payroll Date:</td>
            <td>{{ payslips[0].payrollDate | date: "dd MMM yyyy" }}</td>
          </tr>
          <tr>
            <td class="text-start">Number Of Employees:</td>
            <td>{{ payslips.length }}</td>
          </tr>
          <tr>
            <td class="text-start">Total Taxable Pay:</td>
            <td>{{ total.totalPay | number: "1.2-2" }}</td>
          </tr>
          <tr>
            <td class="text-start">Total Pension Amount:</td>
            <td>
              {{
                total.salarySacrifice +
                  total.employeePension +
                  total.employerPension | number: "1.2-2"
              }}
            </td>
          </tr>
        </tbody>
      </table>
    }
  </div>

  <div class="col-sm-4 mt-2">
    <p><strong>Total Cost of Employment</strong></p>
    @if (payslips && payslips.length) {
      <table class="table table-striped table-responsive text-end">
        <tbody>
          <tr>
            <td class="text-start">Gross Salary</td>
            <td>{{ total.totalPay | number: "1.2-2" }}</td>
          </tr>
          <tr>
            <td class="text-start">Employer NI:</td>
            <td>{{ total.employerNI | number: "1.2-2" }}</td>
          </tr>
          <tr>
            <td class="text-start">Employer Pension Contrib:</td>
            <td>{{ total.employerPension | number: "1.2-2" }}</td>
          </tr>
          <tr class="total-line">
            <td class="text-start">Total:</td>
            <td>
              {{
                total.totalPay + total.employerNI + total.employerPension
                  | number: "1.2-2"
              }}
            </td>
          </tr>
        </tbody>
      </table>
    }
  </div>

  <div class="col-sm-4 mt-2">
    <!-- TODO: Place '+' to show whole list on an Off Canvas -->
     <div class = "row mb-1">
      <div class="col-6"><strong>Top Four Projects</strong></div>
      <div class="col-6 text-end">
        <a class="btn btn-link py-1" (click)="showAllClasses()">See All</a>
      </div>
     </div>
    
   <!--@if (payslips && payslips.length && topClasses && topClasses.length) {-->
      <table class="table table-striped table-responsive text-end  p-0 m-0">
        <tbody>
          @for (entry of topClasses$ | async; track entry[0]; let i = $index) {
            @if (i < 4) {
              <tr>
                <td class="text-start">{{ entry[1] }}</td>
                <td>{{ entry[2] | number: "1.2-2" }}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    <!--}-->
  </div>
</div>
