<div class="row">
  <div class="col-6"><h1>Takings</h1></div>
  <div class="col-6">
    <button routerLink="add" class="btn btn-success m-1 mt-1">
      <i class="fas fa-plus fa-lg"></i>&nbsp;Add New Takings
    </button>
    @if (showAddToQuickbooksButton) {
      <button
        class="btn btn-warning m-1 mt-1"
        (click)="addAllToQuickbooks()"
        [disabled]="!isProduction"
      >
        Add All to QuickBooks
      </button>
    }
  </div>
</div>
<takings-filter
  (filteredTakings)="takingsUpdated($event)"
  (loading)="filterIsLoading($event)"
  (filter)="takingsFilterUpdated($event)"
></takings-filter>
@if (average) {
  <div>Average Sales £{{ average | number: "1.2-2" }}</div>
}
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th class="width-40">Date</th>
      <th class="width-25">Sales</th>
      <th class="width-20">+/-</th>
      <th class="width-15">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (myTakings of takingslist; track myTakings) {
      <tr
        takings-row
        [takings]="myTakings"
        [user]="user"
        (onTakingsDeleted)="takingsWasDeleted($event)"
        (onTakingsAddedToQB)="takingsWasAddedToQB($event)"
        routerLink="edit/{{ myTakings.id }}"
      ></tr>
    }
    @if (!takingslist) {
      <tr>
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    }
  </tbody>
</table>
