<th scope="row" class="d-table-cell">
  {{ takings.date | date: "E, MMM dd" }}
</th>
<td class="d-table-cell">
  {{ takings.daily_net_sales | number: "1.2-2" }}
</td>
<td class="d-table-cell">
  {{ takings.cash_to_bank | number: "1.2-2" }}
</td>
<td class="d-none d-sm-table-cell">
  {{ takings.credit_cards | number: "1.2-2" }}
</td>
<td class="d-table-cell">
  {{ takings.cash_difference | number: "1.2-2" }}
</td>
<td>
  <div class="row">
    @if (!takings.quickbooks || user.isAdmin) {
      <button
        class="btn btn-sm btn-primary mb-1"
        [disabled]="(takings.isUpdating || takings.quickbooks) && !user.isAdmin"
        routerLink="edit/{{ takings.id }}"
      >
        @if (takings.isUpdating) {
          <span class="spinner-border spinner-border-sm"></span>
        }
        @if (!takings.isUpdating) {
          <span>Edit</span>
        }
      </button>
    }
    @if (takings.quickbooks) {
      <button
        class="btn btn-sm btn-secondary mb-1"
        [disabled]="takings.isUpdating"
        routerLink="view/{{ takings.id }}"
      >
        @if (takings.isUpdating) {
          <span class="spinner-border spinner-border-sm"></span>
        }
        @if (!takings.isUpdating) {
          <span>View</span>
        }
      </button>
    }
    @if (user.isAdmin) {
      <button
        (click)="deleteTakings($event)"
        class="btn btn-sm btn-danger btn-delete-takings mb-1"
        [disabled]="takings.isDeleting"
      >
        @if (takings.isDeleting) {
          <span class="spinner-border spinner-border-sm"></span>
        }
        @if (!takings.isDeleting) {
          <span>Delete</span>
        }
      </button>
    }
    @if (user.isAdmin && !takings.quickbooks) {
      <button
        (click)="addToQuickbooks($event)"
        class="btn btn-sm btn-warning btn-add-takings-to-qb"
      >
        <!-- [disabled]="takings.isDeleting || !isProduction" -->
        @if (takings.isUpdating) {
          <span class="spinner-border spinner-border-sm"></span>
        }
        @if (!takings.isUpdating) {
          <span>Add to QB</span>
        }
      </button>
    }
  </div>
</td>
