<th scope="row" class="d-table-cell">
  {{ takings.date | date: "E, MMM dd" }}
</th>
<td scope="row" class="d-table-cell">
  {{ takings.daily_net_sales | number: "1.2-2" }}
</td>
<td scope="row" class="d-table-cell">
  {{ takings.cash_difference | number: "1.2-2" }}
</td>
<td>
  <div class="row">
    <button
      class="btn btn-sm btn-primary mb-1"
      [disabled]="(takings.isUpdating || takings.quickbooks) && !user.isAdmin"
      routerLink="edit/{{ takings.id }}"
      *ngIf="!takings.quickbooks || user.isAdmin"
    >
      <span
        *ngIf="takings.isUpdating"
        class="spinner-border spinner-border-sm"
      ></span>
      <span *ngIf="!takings.isUpdating">Edit</span>
    </button>
    <button
      class="btn btn-sm btn-secondary mb-1"
      [disabled]="takings.isUpdating"
      routerLink="view/{{ takings.id }}"
      *ngIf="takings.quickbooks"
    >
      <span
        *ngIf="takings.isUpdating"
        class="spinner-border spinner-border-sm"
      ></span>
      <span *ngIf="!takings.isUpdating">View</span>
    </button>
    <button
      *ngIf="user.isAdmin"
      (click)="deleteTakings($event)"
      class="btn btn-sm btn-danger btn-delete-takings mb-1"
      [disabled]="takings.isDeleting"
    >
      <span
        *ngIf="takings.isDeleting"
        class="spinner-border spinner-border-sm"
      ></span>
      <span *ngIf="!takings.isDeleting">Delete</span>
    </button>
    <button
      *ngIf="user.isAdmin && !takings.quickbooks"
      (click)="addToQuickbooks($event)"
      class="btn btn-sm btn-warning btn-add-takings-to-qb"
    >
      <!-- [disabled]="takings.isDeleting || !isProduction" -->
      <span
        *ngIf="takings.isUpdating"
        class="spinner-border spinner-border-sm"
      ></span>
      <span *ngIf="!takings.isUpdating">Add to QB</span>
    </button>
  </div>
</td>
