<div class="row">
  <div class="col-6"><h1>Audit Log</h1></div>
</div>
<auditlog-filter
  (loading)="filterIsLoading($event)"
  (filter)="filterUpdated($event)"
  (filteredAuditLog)="auditLogUpdated($event)"
></auditlog-filter>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Date & Time</th>
      <th>User</th>
      <th>Type</th>
      <th class="d-none d-sm-table-cell">Object Type</th>
      <th class="d-none d-sm-table-cell">Object ID</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of auditLog">
      <td>{{ event.timestamp }}</td>
      <td>{{ event.fullname }}</td>
      <td>{{ event.eventtype }}</td>
      <td class="d-none d-sm-table-cell">{{ event.objecttype }}</td>
      <td class="d-none d-sm-table-cell">{{ event.objectid }}</td>
      <td>{{ event.description }}</td>
    </tr>
  </tbody>
</table>
