<h4>Employee Costs</h4>
<div class="row">
  <div class="col-sm-4">
    <p>Number of Employees: {{ payslips.length }}</p>
    <p>Payroll Date: {{ payslips[0].payrollDate | date: "dd MMM yyyy" }}</p>
  </div>
  <div class="col-sm-4">
    <button
      (click)="createTransaction()"
      class="btn btn-sm btn-success m-1 mt-1"
      [disabled]="!lines || !lines.length"
    >
      Create Salary Journals
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th class="width-5">No.</th>
          <th class="width-17">Name</th>
          <th class="width-21">
            <!-- Tooltip must be on element inside header, not header itself-->
            <!-- From https://stackoverflow.com/a/48324991/6941165 -->
            <div ngbTooltip="Total salary for the month">Class</div>
          </th>
          <th class="width-8">
            <!-- Tooltip must be on element inside header, not header itself-->
            <div ngbTooltip="Total salary for the month">Salary</div>
          </th>
          <th class="width-7 d-none d-sm-table-cell">
            <!-- Tooltip must be on element inside header, not header itself-->
            <div ngbTooltip="Employee income tax">PAYE</div>
          </th>
          <th class="width-7 d-none d-sm-table-cell">
            <!-- Tooltip must be on element inside header, not header itself-->
            <div ngbTooltip="Employee National Insurance">E'ee NI</div>
          </th>
          <th class="width-6 d-none d-sm-table-cell">
            <!-- Tooltip must be on element inside header, not header itself-->
            <div ngbTooltip="Other Deductions">Other</div>
          </th>
          <th class="width-7 d-none d-sm-table-cell">
            <!-- Tooltip must be on element inside header, not header itself-->
            <div ngbTooltip="Salary Sacrifice">S Sac</div>
          </th>
          <th class="width-7 d-none d-sm-table-cell">
            <!-- Tooltip must be on element inside header, not header itself-->
            <div ngbTooltip="Employee pension contribution">E Pens</div>
          </th>
          <th class="width-7 d-none d-sm-table-cell">
            <!-- Tooltip must be on element inside header, not header itself-->
            <div ngbTooltip="Student Loan repayments">St Loan</div>
          </th>
          <th class="width-7 d-none d-sm-table-cell">
            <div ngbTooltip="Amount paid to employee">Net Pay</div>
          </th>
          <th class="text-center width-9">In QBO?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of lines">
          <td>
            {{ line.payrollNumber }}
          </td>
          <td>{{ line.employeeName }}</td>
          <td>
            <div class="align-middle" *ngFor="let item of line.totalPay">
              {{ item.className }}
            </div>
          </td>
          <td>
            <div class="align-middle" *ngFor="let item of line.totalPay">
              {{ item.amount }}
            </div>
          </td>
          <td class="d-none d-sm-table-cell">
            {{ line.paye | number: "1.2-2" }}
          </td>
          <td class="d-none d-sm-table-cell">
            {{ line.employeeNI | number: "1.2-2" }}
          </td>
          <td class="d-none d-sm-table-cell">
            {{ line.otherDeductions | number: "1.2-2" }}
          </td>
          <td class="d-none d-sm-table-cell">
            {{ -line.salarySacrifice | number: "1.2-2" }}
          </td>
          <td class="d-none d-sm-table-cell">
            {{ -line.employeePension | number: "1.2-2" }}
          </td>
          <td class="d-none d-sm-table-cell">
            {{ line.studentLoan | number: "1.2-2" }}
          </td>
          <td class="d-none d-sm-table-cell">
            {{ -line.netPay | number: "1.2-2" }}
          </td>
          <td class="text-center">
            <div *ngIf="line.payrollNumber">
              <span class="in-qbo">
                <i
                  class="fas fa-check"
                  *ngIf="inQBO(line)"
                  ngbTooltip="Employee journal done for {{
                    line.employeeName
                  }}."
                ></i>
              </span>
              <span class="not-in-qbo">
                <i
                  class="fas fa-times"
                  *ngIf="!inQBO(line)"
                  ngbTooltip="Employee journal missing for {{
                    line.employeeName
                  }}."
                ></i>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
