<h5>Project Allocations</h5>

<table class="table table-sm table-responsive">
  <thead>
    <tr>
      <th>No.</th>
      <th class="text-start">Name</th>
      <th>Projects</th>
    </tr>
  </thead>
  <tbody>
    @for (
      employee of allocatedEmployees;
      track employee.payrollNumber;
      let i = $index
    ) {
      <!-- If the employee was not in the last payrun then flag their table row-->
      <tr [ngClass]="{ 'table-secondary': !inPayrun.get(employee.payrollNumber) }">
        <td>
          <!-- Button to remove line from table -->
          <a class="btn" (click)="onRemoveAllocation(employee)"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </td>
        <td class="text-start">{{ employee.name }}</td>
        <td class="text-start">{{ summarizeProjects(employee) }}</td>
      </tr>
    }
    @if (!allocations || !allocations.length) {
      <tr></tr>
      <tr>
        <td colspan="3" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    }
  </tbody>
</table>
