<div class="d-flex justify-content-end">
  <div class="col">
    <h1>Project Allocations</h1>
  </div>

  <div class="col">
    <div class="d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-primary btn-lg me-3"
        aria-label="Add New Employee"
        routerLink="add"
      >
        Clear
      </button>
      <button
        type="button"
        class="btn btn-outline-dark btn-lg"
        (click)="goBack()"
        ngbTooltip="Return to previous page"
        placement="bottom"
      >
        Cancel
      </button>
    </div>
  </div>
</div>

<div class="w-100 border-bottom border-secondary my-3"></div>

<router-outlet></router-outlet>

<div class="w-100 border-bottom border-secondary mb-3"></div>

<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-4"><h5>Active</h5></div>
      <div class="col-8">
        <div
          class="d-flex justify-content-center"
          container="body"
          ngbTooltip="Click on a row to edit allocations for an employee"
        >
          <span class="fa-stack" style="color: lightsteelblue">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i class="fa-solid fa-question fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col">
      <table class="table table-sm table-responsive">
        <thead>
          <tr>
            <th>Actions</th>
            <th class="text-start">Name</th>
            <th>Projects</th>
          </tr>
        </thead>
        <tbody>
          @for (
            employee of employeesWithAllocations;
            track employee.payrollNumber;
            let i = $index
          ) {
            <!-- If the employee was not in the last payrun then flag their table row-->
            <tr
              [ngClass]="{
                'table-warning': !inPayrun.get(employee.payrollNumber),
              }"
              routerLink="edit/{{ employee.payrollNumber }}"
            >
              <td>
                <!-- Button to remove line from table -->
                <a class="btn p-0 me-2"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a>
                <a
                  class="btn p-0"
                  (click)="onRemoveEmployee(employee)"
                  ngbTooltip="Delete allocations for {{ employee.firstName }}"
                  ><i class="fa-solid fa-trash"></i
                ></a>
              </td>
              <td class="text-start">{{ employee.name }}</td>
              <td class="text-start">
                <div class="row">
                  @for (
                    projectName of employeeProjects(employee);
                    track projectName
                  ) {
                    <div class="col-sm-auto project-name me-2">
                      {{ projectName }}
                    </div>
                  }
                </div>
              </td>
            </tr>
          }
          @if (!allocations || !allocations.length) {
            <tr></tr>
            <tr>
              <td colspan="3" class="text-center">
                <span
                  class="spinner-border spinner-border-lg align-center"
                ></span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="d-flex justify-content-between">
      <h5>Inactive</h5>
      <div
        ngbTooltip="To remove names from this list, set them to inactive in QuickBooks Online"
      >
        <span class="fa-stack" style="color: lightsteelblue">
          <i class="fa-solid fa-circle fa-stack-2x"></i>
          <i class="fa-solid fa-question fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
    <div class="col">
      @if (employeesWithAllocations && employeesWithAllocations.length) {
        <table class="table table-sm table-responsive">
          <thead>
            <tr>
              <th class="text-start">Name</th>
            </tr>
          </thead>
          <tbody>
            @for (
              employee of nonAllocatedEmployees;
              track employee.payrollNumber;
              let i = $index
            ) {
              <!-- If the employee was not in the last payrun then flag their table row-->
              <tr
                routerLink="edit/{{ employee.payrollNumber }}"
                [queryParams]="{ unallocated: true }"
              >
                <td class="text-start">{{ employee.name }}</td>
              </tr>
            }
            @if (!allocations || !allocations.length) {
              <tr></tr>
              <tr>
                <td colspan="3" class="text-center">
                  <span
                    class="spinner-border spinner-border-lg align-center"
                  ></span>
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  </div>
</div>
