.box-outline {
  outline: 1px solid #000000;
}

.checkbox-outline {
  outline: 1px solid #000000;
}

.employee-inactive {
  background: grey;
}

.project-name {
  border-radius: 8px 8px 8px 8px;
  background: #cccccc;
}

.thin-bottom {
  border-bottom: 3px solid #cccccc;
}
