<div class="modal-header d-flex justify-content-between">
  <h4 class="modal-title" id="modal-title">Enter Password</h4>
  <button
    type="button"
    class="close"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>'{{ fileName }}' is protected.</p>
  <div class="input-group mb-1">
    <span class="input-group-text col-4" id="password-addon1">Password: </span>
    <input
      type="text"
      class="form-control"
      id="passwordInput"
      aria-label="Password"
      aria-describedby="password-addon1"
      placement="bottom"
      [(ngModel)]="passwordValue"
    />
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="modal.close(this.passwordValue)"
  >
    Ok
  </button>
</div>
