/* Opening offcanvas as a component requires this style in order to scroll */
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list-group-item {
  background-color: #e9ecef;
}

.checkbox-outline {
  outline: 1px solid #000000;
}

.box-outline {
  outline: 1px solid #000000;
}
